@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  /* outline: 1px solid black; */
}

.divider {
  left: -5px;
}

.whiteSpace{
  font-size: 16px;
  color:white;
}

.bottombarLinks {
  padding: 8px 0px 0px 20px;
  font-size: 16px;
  transform: scale(1, 0.95);
  white-space: pre;
  height: 100%;
}

.bottombarText{
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  transition: .2s;
  cursor:pointer;
}

.bottombarLinks:hover .bottombarText{
  border-bottom: 2px solid black;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.image {
  transition: .3s ease all;
}

.image:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}

/* .mobileLink {
  height: 52px;
  background-color: white;
  align-items: center;
  width: 340px;
  display: flex;

} */
.mobileSublink {
  height: 40px;
  background-color: white;
  align-items: center;
  width: 340px;
}
.mobileDropdown {
  display: flex;
  flex-direction: column;

}

.imageWrapper{
  overflow:hidden;
  position:relative;
}

.addContainerButton,
.addToGalleryButton,
.markSeenButton,
.markUnseen,
.markSeenButtonResults,
.markUnseenResults,
.closeCanvas,
.deleteContainerButton,
.closeModalButton,
.addArtButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 16px;
  font-weight: 50;
  width: 40px;
  height: 40px;
  background-color: white;
  cursor:pointer;
  border: 1px solid grey;
  transition: 0.15s;
}
.addToGalleryButton,
.markSeenButtonResults,
.markUnseenResults,
.closeCanvas,
.closeModalButton,
.closeModalBottom,
.showMoreButton{
  transform: scale(0.9);
}
.addContainerButton:hover,
.addToGalleryButton:hover,
.markSeenButton:hover,
.markUnseen:hover,
.markSeenButtonResults:hover,
.markUnseenResults:hover,
.closeCanvas:hover,
.deleteContainerButton:hover,
.closeModalButton:hover,
.addArtButton:hover,
.closeModalBottom:hover,
.showMoreButton:hover{
  background-color: rgb(220, 220, 220);
}
.addArtButton,
.addToGalleryButton{
  font-size: 20px;
  font-weight: 300;

}
.closeModalBottom,
.submitSearchButton,
.showMoreButton {
  margin-top: 5px;
  font-size: 20px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  border: 1px solid grey;
  transition: 0.15s
}

.showMoreButton{
  margin-left: 100px;
}
.closeModalBottom {
  width: 40px;
  font-size: 16px;
  font-weight: 50;
  float: right;
}

.resultButtonsDiv {
  display: flex;
  align-self: end;
}
.markSeenButtonResults,
.markUnseenResults {
  position: relative;
}
.addToGalleryButton {
  position: relative;
}

.markSeenButton,
.markUnseen {
  left: 5px;
  bottom: 5px;
}

.closeModalButton {
  top: 5px;
}

.deleteContainerButton {
  position: relative;
  right: 0px;
  margin-top: 5px;
}

.closeCanvas {
  top: 5px;
  position: absolute;
}
.choices {
  margin-right: 15px;
  cursor: pointer;
}
.dropdownMenu {
  text-align:left;
  position: absolute;
  top: 46px;
  background-color: white;
  white-space: nowrap;
  left: 0px;
  z-index: 100;
}
.dropdownLinks {
  padding: 16px 20px 13px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  transition: 0.15s;
  font-family: "Roboto", sans-serif;
}
.dropdownLinks:hover {
  cursor: pointer;
  border-left: 1px solid rgb(170, 168, 168);
  border-right: 1px solid rgb(170, 168, 168);
  background-color: rgb(170, 168, 168);
}
.bottomDropdownLinks{
  border-bottom: 1px solid rgb(170, 168, 168);
}

.tickets {
  cursor: pointer;
  background-color: rgb(214, 212, 212);
  transition: 0.15s;
}
.tickets:hover{
  background-color: rgb(170, 168, 168);
}

