@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* @font-face {
  font-family: "DM Serif Display", serif;
  src: url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
} */

@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.divider {
  left: -5px;
}

.bottombarLinks {
  padding: 7px 20px 10px;
  font-size: 16px;
  max-height: 46px;
  transform: scale(1, 0.95);
  white-space: pre;
}

.App {
  background-color: white;
}

body {
  margin: 0;
}

.gallery {
  display: flex;
  background-color: #f8f8f8;
  border: 1px solid lightgray;
  margin: auto;
  margin-top: 100px;
  max-width: 80vw;
  flex-wrap: wrap;
}

img {
  width: 100%;
}

.separator {
}

.userInfo {
  max-width: 100vw;
  justify-content: center;
  background-image: url(https://rare-gallery.com/mocahbig/441945-ultrawide-Vincent-van-Gogh-painting-impressionism.jpg);
  background-size: cover;
}

.username,
.userStats {
  max-width: 80vw;
  margin: auto;
  padding-top: 35px;
  font-size: 60px;
  color: white;
  font-family: "DM Serif Display", serif;
}

.userStats {
  font-size: 32px;
  padding-bottom: 200px;
}



.addContainerButton,
.addToGalleryButton,
.markSeenButton,
.markUnseen,
.markSeenButtonResults,
.markUnseenResults,
.closeCanvas,
.deleteContainerButton,
.closeModalButton,
.addArtButton {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 16px;
  font-weight: 50;
  width: 45px;
  height: 45px;
  background-color: white;
  cursor:pointer;
  border: 1px solid grey;
}

.addContainerButton:hover,
.addToGalleryButton:hover,
.markSeenButton:hover,
.markUnseen:hover,
.markSeenButtonResults:hover,
.markUnseenResults:hover,
.closeCanvas:hover,
.deleteContainerButton:hover,
.closeModalButton:hover,
.addArtButton:hover,
.showMoreButton:hover{
  background-color: rgb(220, 220, 220);
}

.submitSearchButton,
.showMoreButton {
  margin-top: 5px;
  font-size: 20px;
  height: 45px;
  background-color: white;
  cursor: pointer;
  border: 1px solid grey;
}

.submitSearchButton {
  position: absolute;
  max-height: 40px;
  max-width: 86px;
  top: 83px;
  right: 59px;
  font-size: 24px;
  background: none;
  border: none;
  line-height: 0.4;
  padding: 0;
}

.submitSearchButton:hover{
  border-bottom: 3px black solid;
}
.resultButtonsDiv {
  display: flex;
  align-self: end;
}
.markSeenButtonResults,
.markUnseenResults {
  position: relative;
}
.addToGalleryButton {
  position: relative;
}

.markSeenButton,
.markUnseen {
  left: 5px;
  bottom: 5px;
}

.closeModalButton {
  top: 5px;
}

.closeCanvas,
.deleteContainerButton {
  position: relative;
  padding: 0px;
  right: 0px;
  margin-top: 5px;
}

.closeCanvas {
  position: absolute;
}
.addContainerButton {
  width: 70px;
  height: 70px;
  position: static;
  z-index: 2;
  margin-bottom: 100px;
  margin-left: 95%;
  font-weight: 500;
}
.dropdownMenu {
  position: absolute;
  top: 46px;
  background-color: white;
  white-space: nowrap;
  left: 0px;
  z-index: 100;
}
.dropdownLinks {
  padding: 16px 20px 13px;
  transition: 0.15s;
}
.dropdownLinks:hover {
  cursor: pointer;
  background-color: rgb(170, 168, 168);
}
.linkUnderline{
  border: solid 1px black;
}

.tickets {
  cursor: pointer;
  background-color: rgb(214, 212, 212);
  transition: 0.15s;
}
.tickets:hover{
  background-color: rgb(170, 168, 168);
}

.offCanvas {
  z-index: 7;
  position: fixed;
  height: 100%;
  width: 25vw;
  top: 0;
  background-color: white;
  padding: 15px;
}

.offCanvasBackdrop {
  position: fixed;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.listInfo {
  color: black;
}
