@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');

* {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  text-decoration: none;
  color: black;
  /* outline: 1px solid black; */
}

.divider {
  left: -5px;
}
.accountHeader {
  border-bottom: 1px solid lightgray;
  font-family: 'DM Serif Display', serif;
  font-size:36px;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
.whiteSpace{
  font-size: 16px;
  color:white;
}

.bottombarLinks {
  padding: 8px 0px 0px 20px;
  font-size: 16px;
  transform: scale(1, 0.95);
  white-space: pre;
  height: 100%;
}

.bottombarText{
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  transition: .2s;
  cursor:pointer;
  font-weight: 600;

}

.bottombarLinks:hover .bottombarText{
  border-bottom: 2px solid black;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

.image {
  transition: .3s ease all;
}

.image:hover {
  transform: scale(1.05);
  filter: brightness(0.8);
}



.mobileLink {
  display: flex;
  height: 52px;
  background-color: white;
  align-items: center;
  position:relative;
  justify-content: center;
  cursor: pointer;
}
.mobileLinkText{
  font-size: 15px;
  transform: scale(1, 0.95);
}

.mobileLink-active {
  display: flex;
  height: 52px;
  background-color: rgb(170, 168, 168);
  align-items: center;
  position:relative;
  justify-content: center;
}
.mobileDropdown {
  display: flex;
  flex-direction: column;
  width: 340px;
  border-left: 1px solid rgb(170, 168, 168);

}
.mobileInnerWrapper {
  position: relative;
  display: flex;
  width: 75%;
}
.mobileLinkButton {
  position: absolute;
  right: 0;
  height: 1em;
  width: 1em;
}
.mobileSublink {
  width: 75%;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 15px;
  transform: scale(1, 0.95);
}
/* @media (min-width:500px){
  .mobileLinkText{
    font-weight: 600;
  }
  .mobileSublinkText{
    font-weight: 600;
  }
} */
.mobileSubWrapper {
  display: flex;
  align-items: center;
  width: 340px;
  background-color: white;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 499px) {
  .mobileDropdown {
    width: 100vw;
  }
  .mobileSubWrapper {
    width: 100vw;
  }
}
.plus,
.plus-active {
  position: relative;
  width: 20px;
  height: 20px;
  transition: .5s;
}

.plus::before,
.plus::after,
.plus-active::before,
.plus-active::after {
  content: '';
  position: absolute;
  background-color: black;
}

.plus::before,
.plus-active::before {
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
}
.plus-active::after{
  transition: .5s;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%) rotate(90deg);
}

.plus::after {
  transition: .5s;
  top: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
}

.imageWrapper{
  overflow:hidden;
  position:relative;
}

.addContainerButton,
.addToGalleryButton,
.markSeenButtonResults,
.markUnseenResults,
.closeCanvas,
.closeModalButton {
  position: absolute;
  padding: 0;
  display:flex;
  justify-content: center;
  align-items:center;
  right: 5px;
  bottom: 5px;
  font-size: 16px;
  font-weight: 50;
  width: 40px;
  height: 40px;
  background-color: white;
  cursor:pointer;
  border: 1px solid grey;
  transition: 0.15s;
}
.addToGalleryButton,
.markSeenButtonResults,
.markUnseenResults,
.closeCanvas,
.closeModalButton,
.closeModalBottom,
.showMoreButton{
  transform: scale(0.9);
}
.addContainerButton:hover,
.addToGalleryButton:hover,
.markSeenButton:hover,
.markUnseen:hover,
.markSeenButtonResults:hover,
.markUnseenResults:hover,
.closeCanvas:hover,
.closeModalButton:hover,
.addArtButton:hover,
.closeModalBottom:hover,
.showMoreButton:hover{
  background-color: rgb(220, 220, 220);
}
.addArtButton,
.addToGalleryButton{
  font-size: 20px;
  font-weight: 300;

}
.closeModalBottom,
.submitSearchButton,
.showMoreButton {
  margin-top: 5px;
  font-size: 20px;
  height: 40px;
  background-color: white;
  cursor: pointer;
  border: 1px solid grey;
  transition: 0.15s
}

.showMoreButton{
  margin: auto;
}
.closeModalBottom {
  width: 40px;
  font-size: 16px;
  font-weight: 50;
  float: right;
}

.resultButtonsDiv {
  display: flex;
  align-self: end;
}
.markSeenButtonResults,
.markUnseenResults {
  position: relative;
  right: 2px;
}
.addToGalleryButton {
  position: relative;
}

.closeModalButton {
  top: 5px;
}

.closeCanvas {
  top: 5px;
  position: absolute;
}
.choices {
  margin-right: 15px;
  cursor: pointer;
  background: none;
  border: 0px;
  padding: 0px;
}
.dropdownMenu {
  text-align:left;
  position: absolute;
  top: 46px;
  background-color: white;
  white-space: nowrap;
  left: 0px;
  z-index: 100;
}
.dropdownLinks {
  padding: 16px 20px 13px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  transition: 0.15s;
  z-index: 100;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
}
.dropdownLinks:hover {
  cursor: pointer;
  border-left: 1px solid rgb(170, 168, 168);
  border-right: 1px solid rgb(170, 168, 168);
  background-color: rgb(170, 168, 168);
}
.bottomDropdownLinks{
  border-bottom: 1px solid rgb(170, 168, 168);
}


.tooltip {
  position:absolute;
  border: 1px solid lightgray;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  z-index: 1;
  border-radius: 5px;
  font-size: .9rem;
  font-weight: 500;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  width: auto;
  overflow-wrap: break-word;
  margin-right: 15px;
}
.shareLink{
  font-size: .9rem;
  font-weight: 500;
  word-break: break-all;
}
.actionButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  transition: 0.15s;
  border-radius: 5px;
  cursor: pointer;
}
.actionButton:hover{
  background: lightgray;
}